
<ion-header>
  <ion-navbar color="purple-color">
    <ion-title>Billet</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-list style="margin-top: 50%!important;">
      <ion-item-sliding *ngIf="billet.length>0">
        <ion-item detail-push icon-start>
           <h2>Place: {{billet[1]}} <span>{{billet[5]}}</span> </h2>
          <p><ion-icon name="ios-home-outline" color="primary" ></ion-icon>{{billet[0]}}</p>
          <h3 item-end><ion-icon name="md-calendar" color="primary"></ion-icon>le {{billet[2]}}
              <p>à partir de {{billet[3]}}</p>
              <p>à {{billet[4]}}</p>
          </h3>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="primary" (click)="Modifier()" icon-start>
            <ion-icon name="ios-create-outline" style="font-size: 200%!important;"></ion-icon>
            Modifier
          </button>
        </ion-item-options>
        <ion-item-options side="right" >
          <button ion-button color="danger" (click)="Supprimer()" icon-start>
            <ion-icon name="md-trash" style="font-size: 200%!important;"></ion-icon>
            Supprimer
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <h3 *ngIf="billet.length<=0" style="text-align: center !important; color: red;font-size: 15px">Vous n'avez pas encore reserver Billet</h3>
    </ion-list>

</ion-content>
<ion-footer no-border>
  <h2 style="text-align: center !important; color: cornsilk;font-size: 12px">Inscrivez-vous pour mieux preparer vos voyages</h2>
</ion-footer>
