
<ion-header>
  <ion-navbar *ngIf="company">
    <ion-title>{{company}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p class="company">Disponible le {{dateTransform}}</p>
  <ion-list no-lines>
      <button ion-item *ngFor="let line of companyLines" detail-push >
        <ion-label>
          <h2 item-start>{{line.depart}}  ------>   {{line.arrive}}</h2>
          <p class="price">
            <span icon-start> <ion-icon name="time" color="graycolor"></ion-icon>{{line.heure}}</span>
            <span  item-end class="priceText" ><ion-icon name="cash"color="primary"></ion-icon>{{line.prix}}F</span>
          </p>
        </ion-label>
        <button ion-button outline item-end (click)="GoToReservationForm(line)" icon-start>
          <ion-icon name="reorder"></ion-icon>
          reserver</button>
      </button>
  </ion-list>

</ion-content>
