<ion-header>
  <ion-navbar>
    <ion-title>reservation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="company">Choissisez Votre compagnie de Voyage</p>
  <ion-card >
    <ion-list no-lines >
      <ion-item no-lines class="itemSize" >
        <ion-label color="danger" *ngIf="companies">Compagnie</ion-label>
        <ion-select (ionChange)="GetGare()" [(ngModel)]="company">
          <ion-option *ngFor="let company of companies" [value]="company.name">{{company.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="itemSize">
        <ion-label color="dark">Date</ion-label>
        <ion-datetime [(ngModel)]="date" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item >
      <ion-item *ngIf="garesCompagny" class="itemSize">
        <ion-label color="dark">Gare depart</ion-label>
        <ion-select [(ngModel)]="depart">
          <ion-option *ngFor="let gare of garesCompagny" [value]="gare.name">{{gare.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="garesCompagny" class="itemSize">
        <ion-label color="dark">Gare Arrivé</ion-label>
        <ion-select [(ngModel)]="arrive">
          <ion-option *ngFor="let gare of garesCompagny" [value]="gare.name">{{gare.name}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button   class="reservationBtn" icon-start (click)="GotToReservationList()">
        <ion-icon name="jet"></ion-icon>
              Lignes Disponible
      </button>
    </ion-list>
  </ion-card>
  <button ion-button clear    icon-start (click)="GetBillet()">
    <ion-icon ios="ios-folder" md="md-folder"></ion-icon>
    vos billets reserver
  </button>
</ion-content>
