<ion-header no-border>
  <ion-navbar  color="purple-color">
    <ion-title>Reservation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <p class="company">Recherche</p>
  <ion-card >
    <ion-list no-lines >
      <ion-item no-lines class="itemSize" >
        <ion-label color="danger" *ngIf="companies">Compagnie</ion-label>
        <ion-select (ionChange)="GetGare()" [(ngModel)]="company">
          <ion-option *ngFor="let company of companies" [value]="company.name">{{company.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="itemSize">
        <ion-label color="dark">Date</ion-label>
        <ion-datetime [(ngModel)]="date" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item >
      <ion-item *ngIf="garesCompagny" class="itemSize">
        <ion-label color="dark">Gare depart</ion-label>
        <ion-select [(ngModel)]="depart" (ionChange)="GetGareWithout(depart,'depart')" >
          <ion-option *ngFor="let gare of garesCompagnydetpart" [value]="gare.name">{{gare.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="garesCompagny" class="itemSize">
        <ion-label color="dark">Gare Arrivé</ion-label>
        <ion-select [(ngModel)]="arrive" (ionChange)="GetGareWithout(arrive,'arrive')">
          <ion-option *ngFor="let gare of garesCompagnyarrive" [value]="gare.name">{{gare.name}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button   class="reservationBtn"  icon-start (click)="GotToReservationList()" text-capitalize>
        <ion-icon name="jet"></ion-icon>
              Lignes Disponible
      </button>
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer no-border>
  <div style="text-align: center!important;">
    <button  ion-button clear    icon-start (click)="GetBillet()" text-capitalize>
      <ion-icon ios="ios-folder" md="md-folder"></ion-icon>
      Mes billets
    </button>
  </div>
</ion-footer>
